:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --color-light: #ffffff;
  --color-dark: #000000;
  --color-aqua: #00ccbc;
  --color-purple: #231331;
}

* {
  margin: 0;
  padding: 0;
}